@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
.font1{
  font-family: "futuraBd";
}
.font2{
  font-family: "futuraRg";
}

body{
  background-color: #ededed;
}
.header{
  width: 100%;
  position: relative;
  background-color: #88929d;
}
.header-bg{
  width: 100%;
  filter: grayscale(100%);
}
.header-img{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.animations{
  text-align: -webkit-center;
}
.animation-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 65%;
  align-self: center;
  margin-top: 3vh;
  overflow:  hidden;
  flex-flow: wrap;
}


@media only screen and (max-width : 1080px) {
  .animation-container{
     transition: all 0.5s ease;
   }
}
@media only screen and (max-width : 560px) {
  .animation-container{
    flex-direction: column;
    align-items: center;  
   }
}
.animation-card{
  background-color: white;
  width: 40%;
  min-width: 40%;
  box-sizing: border-box;
  padding: 1vh 2vh 1vh;
  border-radius: 2px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.5s ease;
  margin-bottom: 2vh;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.animation-card:hover{
  border: 1px solid #ccc;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  transition: all 0.6s ease;
  transform: scale(1.05);
}
.animations-title{
  text-align: center;
  font-weight: lighter;
  padding: 2vh 0 0;
  font-size: 35px;
}
.hr-animations{
  width: 50%;
}
.animation-item-title{
  font-weight: 300;
  font-family: sans-serif;
}

.hr-animation-item{
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid rgb(255, 255, 255);
    padding: 0;
}
.animation-item-content{
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}
.rotate-button, .rotate-left{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  color: #b8171f;
  user-select: none;
  transition: all .5s ease-in-out;
}
.rotate-button:hover{
  transform: rotate(45deg);
  transition: all .5s ease-in-out;
}
.rotate-left:hover{
  transform: rotate(-5turn);
  transition: all 3s ease-in-out;
}
.navbar-container{
  justify-content: center;
  flex-direction: row;
  display: flex;
  background-color: #88929d;
  padding: 2vh;
}

.navbar-item{
  color: #02008d;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  transition: all .3s ease-in-out;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  position: absolute;
  text-align: center;
  width: 0px;
}
.navbar-item, .navbar-bg-item{
  height: 60px;
  font-size: 26px;
  transform: skewY(-3deg);
  padding: .5vh 1vh .5vh;
  margin-right: 2vh;
  user-select: none;
  cursor: pointer;
}


.navbar-bg-item{
  color: transparent;
  background-color: #ffffff42;
  transition: all .5s ease-in-out;
  position: relative;
}
.navbar-bg-item:hover {
  width: 300px;
}
.primary-card{
  background-color: #0D6EFD;
  border: 1px solid rgb(255, 255, 255);
  color: white;
}
.secondary-card{
  background-color: #697179;
  border: 1px solid #646d74;
  color: white;
}
.success-card{
  background-color: #198754;
  border: 1px solid #0f0f0f33;
  color: white;
}
.purple-card{
  background-color: #6f42c1;
  border: 1px solid #0f0f0f33;
  color: white;
}

.red-card{
  background-color: #dc3545;
  border: 1px solid #0f0f0f33;
  color: white;
  
}

.dark-card{
  background-color: #000000;
  border: 1px solid #0f0f0f00;
  color: white;  
}

.rotate-img-button{
  width: 50px;
  height: 50px;
}
.skew-item, .skew-item-white{
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  transition: .5s all ease-in-out;
}

.skew-item:hover{
  transform: skew(45deg);
  transition: .5s all ease-in-out;
}
.skew-item-white{
  background-color: rgba(233, 233, 233, 0);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  transform: skew(0deg, 15deg);
  transition: .5s all ease-in-out;
}

.skew-item-white:hover{
  transform: skew(0deg);
  transition: .5s all ease-in-out;
}

.scale-item-img, .scale-item-img2{
  width: 50px;
  height: 50px;
  transition: .5s all ease-in-out;
}

.scale-item-img:hover{
  transform: scale(1.5);
  transition: .5s all ease-in-out;
}

.scale-item-img2:active{
  transform: scale(.5);
}

.scale-arrow-right, .scale-arrow-up{
  width: 50px;
  height: 50px;
  filter: invert(100%);
  transition: .3s all ease-in-out;

}

.scale-arrow-right:active{
  transform: translate(8px);
  transition: .3s all ease
}
.scale-arrow-up:active{
  transform: translate(0px, -8px);
  transition: .3s all ease
}
.origin-img, .origin-img-pacman{
  width: 90px;
  height: 90px;
  transition: .3s all ease

}

.origin-img-pacman:hover{
  transform-origin: right;
  transform: rotate(45deg);
  transition: .3s all ease
}
.origin-img:hover{
  transform-origin: top-left;
  transform: rotate(45deg);
  transition: .3s all ease
}

.timeline-button{
  color: #fff;
  padding: 2vh;
  border-radius: 5px;
  border: 1px solid #fff;
  user-select: none;
  transition: .5s all ease;
}
.timeline-button:hover{
  transition: .5s all ease;
  transform: scale(1.1);
  background-color: white;
  color: black;
}

.timeline-button:active{
  transform: scale(1);
}