body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "futuraBd";
  src: local("futuraBd"),
   url("./assets/fonts/futuraBd.otf") format("truetype");
  font-weight: bold;
  }

@font-face {
  font-family: "futuraRg";
  src: local("futuraBd"),
    url("./assets/fonts/futuraRg.otf") format("truetype");
  font-weight: regular;
  }